$primary-font: 'Montserrat', sans-serif;
$logo-font: 'Open Sans', sans-serif;
$primary-color: #696B6F;


body {
  font-family: $primary-font;
  margin: 0;
  padding: 1px;
  width: 100%;
  background-color: $primary-color;
}

.displayNone {
  display: none;
}

.bolded {
  font-weight: bold;
}
/*********************
    Intro/header
*********************/
.intro {
  width: 80vw;
  padding: 10px;
  margin: 5vh auto;
  position: relative;
  background: #00aabb;
  border-radius: 1em;
  border: 3px solid white;
  :after {
    	content: '';
    	position: absolute;
    	bottom: 0;
    	left: 60%;
    	width: 0;
    	height: 0;
    	border: 20px solid transparent;
    	border-top-color: #00aabb;
    	border-bottom: 0;
    	border-left: 0;
    	margin-left: -10px;
    	margin-bottom: -20px;
  }
  h1 {
    color: white;
    font-weight: 300;
    font-size: 0.65em;
  }
}

/***********************
        Main/
***********************/
#main {
  width: 100%;
}

#about {
  margin-top: 10px;
  h2 {
    width: 15%;
    font-size: 0.7em;
    background-color: #0ab;
    color: white;
    height: 23%;
    text-align: center;
    padding: 5px 10px 5px;
  }
}

.container {
  width: 90%;
  background-color: white;
  margin: -45px auto 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px #43464b;
}

.about-image {
  padding-top: 5%;


  p {
    font-size: 0.55em;
  }
}



.polaroid {
  width: 55%;
  margin: -20px auto 0;
  border: 2px solid #e1e1e1;
  box-shadow: 5px 5px #696969;
  img {
    margin: 4% auto 0;
    position:relative;
    display: block;
    width: 90%;
  }
  h4 {
    text-align: center;
    color: #494949;
    margin: 0 auto;
    width: 80%;
    font-family: "Indie Flower", cursive;
    font-size: 0.55em;
  }
}

.about-descript {

  font-family: $logo-font;
  width: 80%;

  margin: 20px auto 0;
  p {
    font-size: 0.55em;

  }
}
/********************
       Work
*******************/
#work {
  margin-top: 10vh;
  font-family: $logo-font;
  h2 {
    width: 15%;
    font-size: 0.7em;
    background-color: #0ab;
    color: white;
    height: 23%;
    text-align: center;
    padding: 5px 10px 5px;

  }
}
.flex1 {
  display: flex;
  margin-top: 30px;
}

.work-polaroid-short {
  width: 50%;
  height: 100px;
  border: 2px solid #e1e1e1;
  box-shadow: 5px 5px #696969;
  h4 {
    text-align: center;
    color: #494949;
    margin: 3% auto 0;

    width: 80%;
    font-family: "Indie Flower", cursive;
    font-size: 0.7em;
  }
    img {
      width:90%;
      display: block;
      margin: 0 auto;
      padding: 2%;
    }
}

.border {
  border: 1px solid gray;
  padding-top: 55px;
}

.work-polaroid {
  width: 50%;
  height: 120px;
  border: 2px solid #e1e1e1;
  box-shadow: 5px 5px #696969;

  h4 {
    text-align: center;
    color: #494949;
    margin: 0 auto;
    width: 80%;
    font-family: "Indie Flower", cursive;
    font-size: 0.7em;

  }
  img {
    width:90%;
    display: block;
    margin: 0 auto;
    padding: 2%;
  }
}


.work-descript {
  padding-top: 5%;
  margin-left: 5%;
  width: 45%;
  h3 {
    color: #494949;
    font-size: 0.6em;
  }
  p {
    color: #494949;
    font-size: 0.6em;
  }
}

/*****************
  contact info
****************/
#contact {
  margin-top: 10vh;
  margin-bottom: 10vh;
  h2 {
    width: 15%;
    font-size: 0.7em;
    background-color: #0ab;
    color: white;
    height: 23%;
    text-align: center;
    padding: 5px 10px 5px;
  }
  p {
    margin-top: 4%;
    width: 60%;
    text-align: left;
    font-size: 0.6em;
    font-family: $logo-font;
  }
}
.contact-descript {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.social {
  margin-left: 20%;
  margin-top: 3%;
  .github, .codepen {
    margin-top: 10%;
    border-radius: 50px;
  }
  .fa-github-square, .fa-codepen {
    color: $primary-color;
    font-size: 1.5em;
  }
}


/*********************
        modal
*********************/
.modal-btn {
   margin-left: 9%;
   margin-top: 5%;
 button {
   display: block;
   font-weight: 200;
   font-size: 0.7em;
   border: 1px solid $primary-color;
   padding: 5px;
    background: white;
   color: $primary-color;
   text-decoration: none;
   width: 40%;

   outline: none;

 }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

  background: $primary-color;
  margin: 0 auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 100vw;; /* Could be more or less, depending on screen size */
  height: 100vh;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


input {
  margin-top: 5vh;
  outline: none;
  border: 1px solid #75cdc2;
  padding: 5px;
  width: 60vw;
  height: 5vh;
  font-family: $primary-font;
}

.email-text {
  margin-top: 5vh;
}

textarea {
  margin-top: 5vh;
  outline: none;
  border: 1px solid #75cdc2;
  padding: 10px 5px 10px;
  width: 60vw;
  height: 10vh;
  font-family: $primary-font;
}

form {
  text-align: center;
   color: white;
  p {
    width: 80%;
    margin: 0 auto;
    margin-top:5vh;
    color: white;
    padding-bottom: 10px;
  }
  .form-btn {
    margin-top: 10px;
    padding: 2px 5px 2px;

    border:1px solid white;
    background: inherit;
    color: white;
    width: 20vw;
  }
}

/***************
    footer
****************/
#footer {
  p {
    font-size: 15px;
    text-align: center;
    color: white;
  }
}





/********************
    Media query
********************/
@media only screen and (min-width: 321px) {
  .polaroid{
    height: 200px;
  }
  .work-polaroid{
    height: 135px;
  }
  .work-polaroid-short{
    height: 120px;
  }

}

@media only screen and (min-width: 400px) {
  .polaroid{
    height: 220px;
  }
  .work-polaroid{
    height: 155px;
  }
  .work-polaroid-short{
    height: 130px;
  }
}

@media only screen and (min-width: 430px) {
  .polaroid{
     height: 250px;
     width: 210px;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .work-polaroid{
    height: 190px;
    img {
      width: 200px;
      height: 160px;
    }
  }
  .work-polaroid-short{
    height: 180px;
    img {
      width: 232px;
      height: 140px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .about-image {
    display: flex;
  }

   .intro {
     h1 {
       font-size: 1em;
     }
   }

  .polaroid{
     height: 250px;
     width: 40%;
    img {
      width: 200px;
      height: 200px;
    }
    h4 {
      margin-top: 10px;
    }
  }

  .about-descript {
    width: 50%;
    margin-left: -10px;
    p {
      font-size: 0.7em;
    }
  }

  .work-polaroid{
    height: 200px;
    width:210px;
    margin-right: 20px;
    margin-left: 20px;
    h4 {
      font-size: 1em;
    }
  }


  .work-descript{
    h3 {
      font-size: 1em;

    }
    p {
      font-size: 0.8em;
    }
  }

  .work-polaroid-short{
    height: 175px;
    width: 210px;
    margin-left: 30px;
    img {
      width: 200px;
    }
  }

  .intro {
    width: 80vw;
    padding: 10px;
    margin: 5vh auto;
    position: relative;
    background: #00aabb;
    border-radius: 1em;
    border: 3px solid white;
    :after {
      	content: '';
      	position: absolute;
      	bottom: 0;
      	left: 30%;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: #00aabb;
      	border-bottom: 0;
      	border-left: 0;
      	margin-left: -10px;
      	margin-bottom: -20px;
    }
  }

  #contact {
    p {
      font-size: 0.8em;
    }
  }
}

@media only screen and (min-width: 768px) {
    .container {
      margin-top: -60px;
    }
   .intro {
     h1 {
       font-size: 1.3em;
     }
   }

  .polaroid{
     height: 250px;
     width: 33%;
    img {
      width: 200px;
      height: 200px;
    }
    h4 {
      margin-top: 10px;
    }
  }

  .about-descript {
    width: 50%;
    margin-left: -10px;
    p {
      font-size: 0.8em;
    }
  }

  .work-polaroid{

    width:260px;
    margin-right: 10%;
    margin-left: 20px;
    img {
      width: 90%;
    }
    h4 {
      font-size: 1em;
    }
  }


  .work-descript{
    h3 {
      font-size: 1em;

    }
    p {
      font-size: 0.8em;
    }
  }

  .work-polaroid-short{
    height: 175px;
    width: 260px;
    margin-left: 30px;
    img {
      width: 90%;
    }
  }

  .intro {
    width: 80vw;
    padding: 10px;
    margin: 5vh auto;
    position: relative;
    background: #00aabb;
    border-radius: 1em;
    border: 3px solid white;
    :after {
      	content: '';
      	position: absolute;
      	bottom: 0;
      	left: 30%;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: #00aabb;
      	border-bottom: 0;
      	border-left: 0;
      	margin-left: -10px;
      	margin-bottom: -20px;
    }
  }

  #contact {
    p {
      font-size: 1.04em;
    }
  }

  .fa-codepen {
      font-size: 40px;
  }
}

@media only screen and (min-width: 920px) {
     #about h2 {
       font-size: 1.2em;
     }

    #work h2 {
      font-size: 1.2em;
    }

    #contact h2 {
      font-size: 1.2em;
    }
    .container {
      margin-top: -60px;
      width: 980px;
    }

   .intro {

     h1 {
       font-size: 1.5em;
     }
   }

  .flex1 {
    width: 90%;
    margin: 50px auto;
  }
  .polaroid{
     height: 380px;
     width: 320px;

    img {
      width: 300px;
      height: 300px;
    }
    h4 {
      margin-top: 10px;
      font-size: 1em;
    }
  }

  .about-descript {
    width: 40%;

    margin-top: 30px;
    p {
      font-size: 1em;
    }
  }

  .work-polaroid{

    width:380px;
    height: 320px;
    margin-right: 10%;

    img {
      width: 360px;
      height: 280px;
    }
    h4 {
      font-size: 1em;
    }
  }


  .work-descript{

    h3 {
      font-size: 1.3em;

    }
    p {
      font-size: 1em;
    }
  }

  .work-polaroid-short{
    height: 275px;
    width: 380px;
    margin-left: 10%;
    img {
      width: 360px;
      height: 210px;
    }
    h4 {
      font-size: 1em;
    }
  }

  .intro {
    width: 1000px;
    padding: 10px;
    margin: 5vh auto;
    position: relative;
    background: #00aabb;
    border-radius: 1em;
    border: 3px solid white;
    :after {
      	content: '';
      	position: absolute;
      	bottom: 0;
      	left: 30%;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: #00aabb;
      	border-bottom: 0;
      	border-left: 0;
      	margin-left: -10px;
      	margin-bottom: -20px;
    }
  }

  #contact {
    p {
      font-size: 1.04em;
    }
  }

  .social {
    .fa-github-square, .fa-codepen {
      font-size: 50px;
    }
    .fa-codepen {
      margin-top: 50px;
    }
  }
  .modal-btn {
    padding-bottom: 0px;
    button {
    font-size: 1em;
    margin-top: -80px;
    margin-left: 5px;
    }
  }

  form {
    text-align: center;
     color: white;
    p {
      width: 80%;
      margin: 0 auto;

      color: white;
      padding-bottom: 10px;
    }
    .form-btn {
      margin-top: 10px;
      padding: 2px 5px 2px;
      font-size: 25px;
      border:1px solid white;
      background: inherit;
      color: white;
      width: 20vw;
    }
  }
}
